input[type='file']{
    display:none;
}
input[type='submit']{
    display:none;
}
label{
    width: 217px;
    margin-left: 20px;
    background-color: #3498db;
    border-radius: 5px;
    color: #fff;
    cursor: copy;
    padding: 6px 20px;
}

.nomeEp{
    margin:auto;

}

.descri{
     margin-left: 20px;
     width:217px;
     height:100px;
}
h1{
    font-size: 10px;
}
